body{
    background-color: white;
}
h1{
    color:black;
    text-align: center;
}
ul{
    list-style-type: none;
    background-color:aquamarine;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
}
.menu{
    float: left;
}
ul a{
    display: block;
    color:black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
ul a:hover{
    background-color:beige;
}